.information {
  gap: 1.875rem;

  .information__card {
    margin-top: 5vh;
    flex: 1;
    padding: 1.2em 1.5em;
    border: 1px solid hsl(var(--clr-light-grey) / 0.2);
  }

  .information__card-title {
    margin-bottom: 1.25em;
    font-weight: 700;
    color: hsl(var(--clr-white) / 0.5);
  }
}

@media (min-width: 700px) and (max-width: 1020px) {
  .information {
    .information__card {
      margin-bottom: 5vh;
    }
  }
}

@media (max-width: 700px) {
  .information {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .information__card {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:last-child {
        margin-bottom: 5vh;
      }
    }

    .information__card-title {
      margin: 0;
    }
  }
}
