.information {
  gap: 1.875rem;
  
  .information__card {
    margin-top: 10vh;
    margin-bottom: 5vh;
    flex: 1;
    padding: 1.2em 1.5em;
    border: 1px solid hsl(var(--clr-light-grey) / 0.2);
  }

  .information__card-title {
    margin-bottom: 1.25em;
    font-weight: 700;
    color: hsl(var(--clr-white) / 0.5);
  }
}
