.planet-image {
  display: flex;
  align-self: center;

  .planet-image__image {
    display: block;
  }
}

@media (min-width: 700px) and (max-width: 1024px) {
  .planet-image {
    margin-bottom: 10vh;
  }
}